*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	font-family: $sansSerif;
	background-color: black;
}

.wrapper{
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	padding: 0rem .5rem;

	@media #{$mobile}{
		padding: .5rem;
	}
}

.main{
	position: relative;
}

.deck-list{
	padding: 0rem .5rem;
}

.deck-item{
	position: relative;
	background-color: white;
	margin-bottom: 1rem;
	border-radius: 3px;
	box-shadow: 0px 5px 5px -5px black;
	opacity: 0;
	transition: background-color 300ms ease-out;
}

.deck-section{
	padding: .5rem;
}

.section-item{
	margin-bottom: .75rem;

	&:last-of-type{
		margin-bottom: 0;
	}
}

.section-title{
	font-weight: 900;
	margin-bottom: 5px;
}

.deck-title{
	font-size: 1.3rem;
	font-weight: 900;
	line-height: 1.7rem;
	margin-bottom: .5rem;
	cursor: pointer;

	a{
		color: black;
		transition: color 300ms ease-out;

		&:hover{
			color: $yellow;
		}
	}
}

.deck-description{
	margin-bottom: 0;
}

.is-private{
	position: relative;
	top: -3px;
	font-size: .7rem;
	padding: .25rem;
	background-color: red;
	color: white;
	border-radius: 2px;
	text-align: center;
	margin-left: .5rem;
	white-space: nowrap;
	font-family: $sansSerif;
}

.deck-status{
	flex: 1;
	text-align: right;
}

.deck-details{
	padding: 1rem .5rem;
	margin-bottom: 0;
}

.hashtag{
	color: $yellow;
	margin-right: .5rem;
	font-size: .8rem;
	border-radius: 3px;
	font-weight: 900;

	&:last-of-type{
		margin-right: 0;
	}
}

.deck-footer{
	overflow: hidden;
	padding: .5rem;
}

.deck-meta{
	display: flex;
	float: left;
}

.meta-item{
	font-size: .8rem;
	margin: 0;
	display: flex;
	flex:1;
	align-items: center;
	white-space: nowrap;
	margin-right: 5px;

	&:last-of-type{
		margin-right: 0;
	}
}

.action-list{
	float: right;
	text-align: right;
	display: flex;
	align-self: flex-start;
	justify-content: flex-end;
}

.end-live-action{
	path{
		fill: red;
	}
}

.go-live-action{
	path{
		fill: $green;
	}
}

.private-notification{
}

.live-notification{
	background-color: $green;
	color: white;
}

.deck-actions-list{
	flex-basis: 1;
}

.deck-action-item{
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.count{
	margin-left: .5rem;
}

.quote-list{
	padding: 0rem .5rem;
}

.quote-item{
	padding: 1rem;
	background-color:white;
	margin-bottom: 1rem;
	opacity: 0;
	display: flex;
	border-radius: 3px;
	box-shadow: 0px 5px 5px -5px black;
}

.quote-header{
	flex: 1;
}

.quote-text{
	flex: 3;
	font-size: 1.2rem;
	line-height: 1.7rem;
	margin: 0;
}

.live-controls{
	position: fixed;
	backface-visibility: hidden;
	top: 35px;
	left: 0;
	text-align: center;
	width: 100%;
	background-color: darken(white, 0%);
	box-shadow: 0px 3px 5px -2px black;

	.wrapper{
		max-width: 600px;
		display: flex;
	}

	.next-quote-btn{
		flex: 5;
	}

	.prev-quote-btn{
		flex: 3;
		margin-right: 3rem;
	}

}

.live-page{
	.quote-list{
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10vh;
		padding-bottom: 40vh;
	}

	.quote-item{
		flex-wrap: wrap;
	}

	.quote-text{
		flex: 0 1 100%;
		font-size: 1.2rem;
		line-height: 1.5rem;
		margin-bottom: 1rem;
	}

	.action-list{
		flex: 0 1 100%;
		float: none;
		text-align: left;
		justify-content: flex-start;
	}
}