.form-control{
	&.hidden{
		display: none;
	}
}

.submit-control, .checkbox-control, .textArea-control{
	.input-overlay{
		display: none;
	}

	.inner{
		display: block;
	}

	label{
		position: relative;
		left: 0;
		display: block;
		bottom: initial;
	}
}


input, textarea{

	&.full-width{
		width: 100%;
	}
}

textarea{
	// transition: background-color 300ms ease-out;

	&:focus{
		outline: none;
		background-color: black;
		color: white;
	}
}

.input-field{
}

.hidden-field{
	display: none;
}

.center-form{
	margin-left: auto;
	margin-right: auto;
}

.form-wrapper{
	&.tight-form-wrapper{
		max-width: 400px;
	}
}

.edit-deck-form, .add-quote-form, .create-deck-form, .edit-quote-form{
	width: 100%;
}