@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

$serif: 'Lora', Helvetica, serif;
$sansSerif: 'Source Sans Pro', Helvetica, sans-serif;


$yellow: #F2C71F;
$green: rgb(111, 174, 42);
$dark: #240425;