*{
	box-sizing: border-box;

	& + *{
		margin-bottom: 1rem;
	}

	&.no-margin{

		& > *{
			margin-bottom: initial;
		}
	}
}

a{
	text-decoration: none;
}

body{
	position: relative;
	font-family: $sansSerif;
	background-color: darken(white, 10%);
}

.main{
	position: relative;
}

.fav-glyph:after{
	cursor: pointer;
}
.deck-section{
	padding: .5rem;
}

.section-item{
	margin-bottom: .75rem;

	&:last-of-type{
		margin-bottom: 0;
	}
}

.end-live-action{
	path{
		fill: red;
	}
}

.favorite{
	clear: both;
}

.go-live-action{
	path{
		fill: $green;
	}
}

.private-notification{
}

.live-notification{
	background-color: $green;
	color: white;
}

.deck-actions-list{
	flex-basis: 1;
}

.deck-action-item{
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.count{
	margin-left: .5rem;
}

.quote-list{
	padding: 0rem .5rem;
}

.quote-item{
	padding: 1rem;
	background-color:white;
	margin-bottom: 1rem;
	opacity: 0;
	display: flex;
	flex-wrap: wrap;
	border-radius: 3px;
	box-shadow: 0px 5px 5px -5px $dark;
}

.quote-header{
	// flex-basis: 100%;
	// display: flex;
	padding: .5rem 0rem;
}

.quote-footer{
	flex-basis: 100%;
}

.quote-text{
	flex: 3;
	font-size: 1.2rem;
	line-height: 1.7rem;
	margin: 0;
}

.quote-slide{
	font-size: .7rem;
	background-color: $dark;
	color: white;
	padding: .25rem;
	border-radius: 2px;
	float: left;
	margin-bottom: 0;
	margin-right: 5px;
}

.live-controls{
	position: fixed;
	backface-visibility: hidden;
	top: 40px;
	left: 0;
	text-align: center;
	width: 100%;
	background-color: $dark;
	box-shadow: 0px 3px 5px -2px $dark;
	padding: .5rem 0rem;

	.wrapper{
		max-width: 600px;
		display: flex;
	}

	.next-quote-btn{
		flex: 5;
	}

	.prev-quote-btn{
		flex: 3;
		margin-right: 3rem;
	}

}

.favorite-quote-list{

	&:not(.live-quote-list){
		.quote-item{
			background-color: $lightGrey;
			border: solid $borderGrey;
		}

		&.quote-list{
			padding: 1rem;
		}
	}

}

.live-page{


	.quote-list{
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 12vh;
		padding-bottom: 40vh;
	}

	.quote-item{
		flex-wrap: wrap;
	}

	.quote-text{
		font-size: 1.2rem;
		line-height: 1.5rem;
		margin-bottom: 1rem;
	}

	.action-list{
		float: none;
		justify-content: flex-start;
		text-align: center;
	}

}

.fav-glyph{
	font-size: 1.25rem;
	float: left;
}


.favorite-glyph:hover:after{
	color: $primary;
	animation: pulse 0.75s ease-in-out;
	animation-iteration-count: infinite;
}

.unfavorite-glyph:hover:after{
	color: black;
}

.unfavorite-glyph:after{
	content: "\2605";
	color: $primary;
}

.favorite-glyph:after{
	content: "\2606";
	color: black;
}

.fav-glyph:after{
	transition: all 0.25s;
}

@keyframes pulse {
	0% {
		transform: scale(1.1) rotate(0deg);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1.1) rotate(72deg);
	}
}

.favorite-deck{
	margin-left: 1rem;
}

.follow-glyph{
	
	margin-left: 1rem;
}