.btn{
	border: 0;
	cursor: pointer;
	border-radius: 2px;

	.bar{
		background-color: black;
		height: 2px;
		width: 15px;
		margin-bottom: 3px;
	}
}

@mixin primary-btn($color){
	position: relative;
	appearance: none;
	-webkit-appearance: none;
	border: 0px solid transparent;
	padding: .75rem 1.25rem;
	font-size: 1rem;
	color: white;
	transition: background 300ms ease-out;
	border-radius: 3px;
	cursor: pointer;
	background-color: $color;

	&:hover{
		background-color: lighten($color, 10%);
	}
}

.primary-btn{
	z-index: 2;
	@include primary-btn($primary);
}

.secondary-btn{
	z-index: 2;
	@include primary-btn($secondary);
}

.negative-btn{
	z-index: 2;
	@include primary-btn($red);
}

.twitter-btn{
	@include primary-btn($twitter);
}

.close-modal-btn{
	position: absolute;
	background-color: transparent;
	top: 10px;
	right: 10px;
	padding: 0;

	.bar{
		position: relative;
	}

	.bar-1{
		transform: rotate(45deg);
		top: 5px;
	}

	.bar-2{
		transform: rotate(-45deg);
	}

	.bar-3{
		display: none;
	}
}

.floating-toggle{
	position: fixed;
	bottom: 10px;
	background-color: $red;
	width: 40px;
	height: 40px;
	padding: 5px;
	border-radius: 50%;
	right: 10px;
	transition: all 150ms ease-out 150ms;
}

.application.shelf-active{
	.floating-toggle{
		transform: translateX(-60px);
		transition: all 150ms ease-out;
		opacity: 0;
	}
}