.btn{
	border: 0;
	cursor: pointer;
	border-radius: 2px;

	.bar{
		background-color: black;
		height: 2px;
		width: 15px;
		margin-bottom: 3px;
	}
}

@mixin primary-btn($color){
	position: relative;
	appearance: none;
	-webkit-appearance: none;
	border: 0px solid transparent;
	padding: .75rem 1.25rem;
	font-size: 1rem;
	color: white;
	transition: background 300ms ease-out;
	border-radius: 3px;
	cursor: pointer;
	background-color: $color;

	&:hover{
		background-color: lighten($color, 10%);
	}
}

@mixin ghost-btn($color){
	border: 1px solid $color;
	color: $color;
	padding: .75rem 1.25rem;
	background-color: white;
	transition: background 300ms ease-out;
	border-radius: 3px;
	cursor: pointer;
}

.primary-btn{
	z-index: 2;
	@include primary-btn($primary);
}

.secondary-btn{
	z-index: 2;
	@include primary-btn($secondary);
}

.negative-btn{
	z-index: 2;
	@include primary-btn($red);
}

.positive-btn{
	@include primary-btn($green);
}

.twitter-btn{
	padding: .5rem 1rem;
	margin: 1rem 0rem;
  font-size: 1rem;
  color: white;
	display: inline-block;
	background-color: $twitter;

  &:hover{
    background-color: darken($twitter, 20%);
  }

  span{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  svg{
		height: 30px;
		width: 30px;
    float: left;
    margin-right: 1rem;
  }
}

.tweet-btn{
	margin: 1rem 0rem;
	display: inline-block;
	background-color: $primary;
	padding: .65rem 1.25rem;
}

.floating-toggle{
	position: fixed;
	bottom: 10px;
	width: 40px;
	height: 40px;
	padding: 5px;
	border-radius: 50%;
	transition: all 150ms ease-out 150ms;

	&.right{
		right: 10px;
	}

	&.left{
		left: 10px;
	}
}

.toggle{
	a{
		height: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;

	}
}

.application.shelf-active{
	.floating-toggle{
		transform: translateX(-60px);
		transition: all 150ms ease-out;
		opacity: 0;
	}
}
