.flex-container{
	display: flex;
	align-cotent: center;
}

.items-centered{
	align-items: center;
}

.centered{
	justify-content: center;
}

.space-between{
	justify-content: space-between;
}

.column{
	flex-direction: column; 
}

.flex-4-10{
	flex-basis: 40%;
}



.flex-1{
	flex: 1;
}

.flex-2{
	flex: 2;
}

.align-centered{
	align-content: center;
}

.self-centered{
	align-self: center;
}