.app-header{
	background-color: $dark;
	height: $headerHeight;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	backface-visibility: hidden;
}

.logo{
	display: inline-block;
	height: 100%;
	width: $headerHeight;

	@media #{$mobile}{
		display: none;
	}
}