.app-header{
	background-color: $dark;
	height: $headerHeight;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
}

.logo{
	display: inline-block;
	height: 100%;
	width: $headerHeight;

	@media #{$mobile}{
		position: relative;
		display: table;
		margin: 0 auto;
	}
}