.block{
	display: block;
}

.underlined{
	text-decoration: underline;
}

.t-a-center{
	text-align: center;
}

.bold{
	font-weight: 900;
}

.full-width{
	width: 100%;
}

.no-margin{
	margin: 0;
}

.float-right{
	float: right;
}

.white{
	color: white;
}

.white-bg{
	background-color: white;
}

.m-b-1{
	margin-bottom: 1rem;
}

.m-b-2{
	margin-bottom: 2rem;
}


.p-2{
	padding: 2rem;
}