.icon{
	width: 40px;
	height: 40px;

	&.back-icon, &.search-icon, &.plus-icon{
		width: 30px;
		height: 30px;
	}

	path, line{
		transition: all 300ms ease-out;
	}
}

.quote-list{
	.action-list{
		padding: .5rem 0rem;
	}
	.icon{
		width: 15px;
		height: 15px;
	}
}

.back-icon{
	float: left;

	path{
		fill: $primary;
	}
}

.search-icon{
	path{
		fill: $primary;
	}
}

.plus-icon{
	path{
		fill: white;
	}
}

.delete-icon{

}

.copy-icon{

}

.nav-icon{
	height: 100%;
}

.nav-toggle{

	.deck-icon{
		padding-top: 5px;
	}
	.bar{
		position: relative;
		transform-origin: center center;
		width: 25px;
		height: 2px;
		margin-bottom: 4px;
		background-color: $primary;
		transition: all 300ms ease-out;
		border-radius: 2px;
	}

	&.active{
		.bar-1{
			transform: rotate(45deg);
			top: 5px;
		}

		.bar-2{
			transform: rotate(-45deg);
			top: -1px;
		}

		.bar-3{
			opacity: 0;
		}
	}
}

.dark-p{
	fill: darken($primaryDark, 20%);
}

.light-p{
	fill: $primary;
}