.modal{
	position: fixed;
	top: 0;
	height: 100vh;
	display: flex;
	align-content: center;
	justify-content: space-around;
	padding: $headerHeight 0;
	right: -100vw;

	@media #{$tablet}, #{$desktop}, #{$desktop-xl}{
		width: 80%;
		max-width: 600px;
		background-color: fade-out($dark, .1);
	}

	@media #{$mobile}{
		margin-top: $headerHeight;
		width: 100%;
		padding: 0;
		// background-color:white;
	}
}

.modal-content{
	position: relative;
	top: 0;
	left: 0;
	padding: 2rem 1rem 4rem 1rem;
	background-color: white;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	@media #{$mobile}{
		width: 100%;
	}
	@media #{$tablet}, #{$desktop}, #{$desktop-xl}{
		max-height: 100%;
		border-radius: 2px;
		max-width: 500px;
		flex: 1;
		align-self: center;
	}
}

body.modal-active{
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: fixed;
}