.nav-list{
	height: 100%;
}

.nav-item{
	position: relative;
	padding: 0rem;
}

.nav-link{
	color: white;
	display: block;
	height: 100%;

	display: flex;
	align-items: center;
}

.sub-nav-list{
	position: absolute;
	top: $headerHeight;
	right: 0;
	transition: transform 0ms ease-out 300ms, opacity 300ms ease-out;

	&:hover{
		transform: rotateX(0deg);
		transition: transform 0ms ease-out 0ms, opacity 150ms ease-out;
	}

	.nav-item{
		background-color: $primary;
		display: block;
		padding: .5rem;

		@for $i from 1 through 5{
			&:nth-child(#{$i}) {
				background-color: darken($primary, (5 - $i) * 3);
			}
		};
	}
}

.primary-nav{
	height: 100%;
	float: right;

	@media #{$mobile}{
		display: none;
	}

	.nav-list{
		display: flex;

		& > .nav-item{
			margin-right: .5rem;
		}
	}

	.nav-link{
		display: flex;
		align-items: center;
	}

	.nav-item{
		display: flex;
		align-items: center; 
		&:hover{
			opacity: 1;
			
			.sub-nav-list{
				transition: transform 0ms ease-out 0ms, opacity 300ms ease-out;
				transform: rotateX(0deg);
				opacity: 1;

			}
		}
	}

	.sub-nav-list{
		transition: transform 0ms ease-out 300ms, opacity 150ms ease-out;
		transform: rotateX(90deg);
		opacity: 0;
	}
}

.mobile-nav{
	position: fixed;
	width: 100%;
	height: 35px;
	top: 0;
	left: 0;
	display: none;
	text-align: right;
	height: $headerHeight;

	@media #{$mobile}{
		display: block;
	}

	.nav-list{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.shelf-nav{
	.nav-list{
		width: 100%;
	}

	.nav-item{
		display: flex;
		justify-content: flex-end;
		padding: .5rem;
		border-bottom: 1px solid $primary;
	}
}

.back-toggle{
	margin-left: .5rem;
}

.nav-toggle{
	margin-right: .5rem;
}