.page{
	position: relative;
	min-height: 100vh;
	background-color: darken(white, 10%);
	background-size: cover;
	background-position: center center;
	padding-top: $headerHeight;
	opacity: 0;
}


.page-hero{
	background-color: white;
	background-size: cover;
}

.page-content{
	padding: 2rem 0rem;
}

.page-header{
	position: relative;
	background-size: cover;
	background-position: center center;
	min-height: 50vh;
	text-align: center;
}


.page-title{
	position: relative;
	// top: -2rem;
	background-color: white;
	color: $dark;
	font-weight: 700;
	font-size: 2rem;
	padding: 1rem;
	width: 85%;
	margin: 0 auto;
}

.page-section{
	padding: 2rem 0rem;
	background-color: $dark;
	transform-origin: top center;	

	.section-title{
		font-weight: 900;
	}
}

.page-separator{
	position: relative;
	width: 100%;
	max-width: 200px;
	height: 2px;
	background-color: $primary;
	border-radius: 3px;
	margin: 2rem auto 0rem auto;
}

.slide-down-container{
	height: 0;
	overflow: hidden;
}
