#shelf-container{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $dark;
}

.shelf{
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	padding-top: $headerHeight;
}