.wrapper{
	position: relative;
	max-width: 750px;	
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0rem .5rem;

	&.form-wrapper{
		min-width: 350px;
		max-width: 600px;
		width: 80%;
		border-radius: 3px;
		padding: 1.5rem;
	}

	@media #{$mobile}{
		padding: .5rem;
	}
}

