#alerts{
	z-index: 1000;
}

.app-header{
	z-index: 900;
}

.overlay{
	z-index: 875;
}

.modal{
	z-index: 850;
}

.floating-toggle{
	z-index: 800;
}

.nav-item{
	z-index: 100;
}

.sub-nav-list{
	z-index: 90;
}

.page, .application{
	z-index: 2;
}

#shelf-container{
	z-index: 1;
}

.title-container{
	z-index: -1;
}